# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
frontend/build/
frontend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Model weights
*.pt
*.pth
*.h5
model/trained_models/

# Database
*.db
*.sqlite
database/archive*/
backend/uploads/
uploads/
runs/
*.jpg
*.jpeg
*.png
*.gif
!frontend/public/*.png
!frontend/public/*.jpg
!frontend/src/assets/*.png
!frontend/src/assets/*.jpg


# Logs
*.log
